
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #ffff;
  padding: 0 .2em;

}

.content{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo{
  text-align: center;
  font-size: 3em
}

.logo span{
  color: #aa0000;
}

.contact-wrapper{
  
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}


.contact-form{
  background: #222222;
}

.contact-form form{
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.contact-form form  .block{
    grid-column: 1/3;
}

.contact-form form p{
  margin: 0;
  padding: 1em;

}

.contact-form form button:hover,
.contact-form form button:focus{
  background-color: #ff0000;
  transition: background-color 1s ease-out;
  outline: 0;
  cursor: pointer;
}


.contact-form form button,
.contact-form form input,
.contact-form form  textarea{
  width: 100%;
  padding: .7em;
  border: 0;
  background: none;
  border-bottom: 1px solid #aa0000;
  color: #fff ;
}

.contact-form form  button{
    background: #aa0000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}


.contact-info{
  background: #000000;

}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
} 

.contact-info ul{
  list-style: none;
  padding: 0;
}

.contact-info ul li{
  padding: .3em;
}

.contact-info ul li i{
  padding: .3em;
}

@media(min-width:700px){
  
  body{
    padding: 0 4em;
  }

  .contact-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p{
    padding: .5em;
    text-align: left;
  }

}